<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>URL 定时请求</title>
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<script src="//cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
	<script src="//public.zhfile.com/js/ray.js"></script>
</head>

<body>
  
	<div class="my-3 mx-3"></div>
	
	<div class="container" id="app">

		<blockquote class="blockquote">新增任务</blockquote>

		<div class="card">
			<div class="card-body">

			<form class="form-signin">
							
				<div class="form-group">
					<label>任务链接</label>
					<input type="text" class="form-control" placeholder="任务的 URL" required autofocus v-model="node.url" value="">
				</div>

				<div class="form-group">
					<label>循环时间（秒）</label>
					<input type="number" class="form-control" placeholder="任务的间隔时间" required v-model="node.rest" value="">
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputEmail4">开始时间（时）</label>
						<select id="inputState" class="form-control" v-model="node.begin">
							<option v-for="n in 24" v-bind:selected="n == 1">{{n - 1}}</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<label for="inputPassword4">结束时间（时）</label>
						<select id="inputState" class="form-control" v-model="node.finish">
							<option v-for="n in 24" v-bind:selected="n == 24">{{n - 1}}</option>
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="col">
						<button class="btn btn-primary btn-block" type="button" v-on:click="append" v-bind:disabled="!node.url || !node.rest">新增任务</button>
					</div>
					<div class="col">
						<div v-if="Object.keys( list ).length">
							<button class="btn btn-success btn-block" type="button" v-on:click="start" v-if="!run">开始任务</button>
							<button class="btn btn-secondary btn-block" type="button" v-on:click="stop" v-if="run">暂停任务</button>
						</div>
					</div>
				</div>
				
			</form>

			</div>
		</div>

		<hr />

		<blockquote class="blockquote">任务列表</blockquote>

		<div class="card mb-3" v-for="item in list">
			<div class="card-body">
							
			<p><label>任务链接</label> {{item.url}} <a v-on:click="remove( item )" class="text-danger float-right">[DELETE]</a></p>
					
			<p>
				<label>运行时段</label> <code>{{item.begin}}-{{item.finish}}</code>，
				<label>循环间隔</label> <code>{{item.rest}}</code> 秒，
				<label>已执行</label> <code>{{item.exec}}</code> 次 {{item.last ? '，最近执行：' + item.last : '' }}
			</p>

			<p v-if="item.text" class="text-success">{{item.text}}</p>

			</div>
		</div>
		
		<div class="alert alert-warning" v-if="list.length == 0">
			暂无任务
		</div>

	</div>

	<script>	
	var catlog = new Vue({
		el : '#app',
		data : {
			run  : false,
			node : { url : null, rest : null, begin : 0, finish : 23 },
			time : null,
			list : []
		},
		methods : {

			//新增任务
			append : function(){
			
				if( !R.Validate.URL( this.node.url ) ){
					alert('任务链接必需为 URL');
					
				}else if( !R.Validate.Number( this.node.rest ) ){
					alert('循环时间必需为数字');
					
				}else if( !R.Validate.Number( this.node.begin ) ){
					alert('循环时间必需为数字');
					
				}else if( !R.Validate.Number( this.node.finish ) ){
					alert('循环时间必需为数字');
					
				}else{
					this.access( this.node );
					this.node.url = this.node.rest = null;
				}
				
			},

			//运行任务
			access : function( node ){

				var url = node.url;
				var rest = node.rest;
				var begin = node.begin;
				var finish = node.finish;

				var that = this;
				var indx = that.list.length;

				var fn = function(){

					var hour = new Date().getHours();

					//是否还在运行中
					if( !that.run ) return;

					//是否在允许时段
					if( hour < begin || hour > finish ) return;

					//发起 JSONP 请求
					R.jsonp( url + '?ajax=?', function( data ){
						that.list[ indx ].text = JSON.stringify( data );
						that.list[ indx ].exec = that.list[ indx ].exec + 1;
						that.list[ indx ].last = new Date().toLocaleTimeString();
					} );

					that.list[ indx ].exec ++;

				}

				//循环执行
				var id = window.setInterval( fn, rest * 1000 );

				that.list.push( { 'indx' : indx, 'url' : url, 'rest' : rest, 'begin' : begin, 'finish' : finish, 'text' : null, 'last' : null, 'exec' : 0, 'id' : id } );

				//立即执行
				fn();

			},

			//移除任务
			remove : function( node ){

				//移除定时器
				window.clearInterval( node['id'] );
				
				//移除任务
				this.list.splice( node['indx'], 1 );

			},

			//开始任务
			start : function(){
				this.run = true;
			},
			
			//停止任务
			stop : function(){
				this.run = false;
			}
		}
	});
	</script>
	
</body>
</html>
